.mainVideoContainer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.srNumber {
  width: 100%;
  height: auto;
}
.imgForVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
.contactMap {
  width: 250px;
  flex: 1;
  flex-basis: 300px;
  height: auto;

  margin: 10px 10px;
  margin-bottom: 20px;
}
.videoTitle {
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  color: white;
}
