.videoContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

}
.tags {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid black;
}
.tagColor {
  width: auto;
  height: 70%;
  background-color: #27262b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.contactMap {
  width: 100%;
  height: 100%;
  display: flex;
}

.dotsPosition {
  width: 100%;
  height: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -50px;
  
}
.dots {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  cursor: pointer;
}

.mainuTitle {
  width: 230px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #27262b;
  font-size: 12px;
  z-index: 1;
  border-radius: 10px;
  margin-top: -25px;
}
.mainuconcept {
  font-size: 16px;
  color: #fff;
}

.removeTo {
  font-size: 16px;
  color: red;
}
.removeToVideo {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27262b;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  color: red;
  text-align: center;
}
.removeToVideo:hover {
  background-color: #191921;
}
.addToVideo {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #27262b;
  border-radius: 10px;
  cursor: pointer;
}
.addToVideo:hover {
  background-color: #191921;
}
.likeButton {
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.videos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0d1117;
}

.videoInfo {
  width: 250px;
  flex: 1;
  flex-basis: 250px;
  height: auto;
  margin: 0px 5px;
  margin-bottom: 20px;
}

.saveIcon {
  font-size: 25px;
  color: white;
  padding-right: 10px;
}
.saveIconForRemove {
  font-size: 25px;
  color: red;
  padding-right: 10px;
}
.watchLaterIcon {
  font-size: 30px;
  color: white;
  padding-right: 10px;
}
.watchLaterIconForRemove {
  font-size: 30px;
  color: red;
  padding-right: 10px;
}
