.videoContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.tags {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid black;
}
.tagColor {
  width: auto;
  height: 70%;
  background-color: #27262b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 0px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.contactMap {
  width: 100%;
  height: 100%;
  display: flex;
}

.dotsPosition {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: red;
}
.dots {
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.mainuTitle {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  background-color: #27262b;
}
.mainuconcept {
  font-size: 16px;
}

.likeButton {
  width: 100px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.videos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aqua;
}

.videoInfo {
  width: 250px;
  flex: 1;
  flex-basis: 250px;
  height: auto;
  margin: 0px 5px;
  margin-bottom: 20px;
}
